body {
  background: #E7E7E2;
  color: #444;
  font: normal 80% Tahoma,sans-serif; 
  padding: 0 0 0 20px;
}

#block-stats {
  background-color: #fff;
  padding: 5px;
  width: 50%;
}

.header-line {
  background-color: #F5F5F5;
  padding: 0 5px 0 5px;
  clear: both;
  margin: 0;
  width: 50%;
  color: #fff;
  line-height: 2.4em;
}

.header-line, .header-jobs span, a, a:visited, a:hover {
  color: #0066CC;
  font-size: 14px;
  font-weight: bold;
}

.header {
  font-size: 20px;
}

#block-jobs {
  width: 70%;
  padding: 5px;
  background-color: #fff;
}

.header-jobs {
  background-color: #F5F5F5;
  padding: 0 5px 0 5px;
  clear: both;
  margin: 10px 0 0 0;
  width: 70%;
  color: #fff;
  line-height: 2.4em;
}

#block-jobs th {
  width: 10%;
  text-align: left;
  border: 1px dashed #ccc;
  border-left: none;
  padding: 2px 0 2px 5px;
  background-color: #ded;
}
#block-jobs td {
  margin: 0;
  padding: 0 0 0 4px;
  line-height: 2em;
}

.light {
  background: #fff;
}

.dark {
  background: #E7E7E2;
}
tr.light:hover, tr.dark:hover {
  background: #bbb;
}

#menu {
  float: left;
  clear: none;
  width: 120px;
  overflow: hidden;
  background-color: #F5F5F5;
  padding: 5px;
  height: 100px;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#content {
  width: 700px;
  float: left;
  margin: 0 0 0 10px;
}

#path {
  width: 100%;
  background: #ccc;
  line-height: 2em;
  padding: 0 0 0 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
